::ng-deep {
  mat-form-field {
    margin-left: 2vh;
  }

  
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
    display: flex;
  }
}

// Classes from Angular Material
.material-symbols-outlined-close {
  cursor: pointer;
  display: flex;
  justify-content: right;
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-size: 24px;
}

// Classes and ID
.required-fields {
  font-weight: bold;
  font-size: 10px;
}

.example-right-align {
  text-align: right;
}

input.input-price::-webkit-outer-spin-button,
input.input-price::-webkit-inner-spin-button {
  display: none;
}

input.input-price {
  -moz-appearance: textfield;
}

.button-confirm {
  width: 60%;
  margin: 0 20%;
}
