// Classes from Angular Material
.material-symbols-outlined-close {
  cursor: pointer;
  display: flex;
  justify-content: right;
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-size: 24px;
}
