// Ng-Deep
::ng-deep {
  .mat-dialog-actions {
    padding: 24px 0;
  }
}

// Classes from Angular Material
.material-symbols-outlined-close {
  cursor: pointer;
  display: flex;
  justify-content: right;
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-size: 24px;
}

// Classes and ID

.title-modal {
  margin: 2vh 0 6vh 0;
}

