.material-symbols-outlined {
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-content: right;
}

.content-modal, .title-modal {
    display: flex;
    justify-content: center;
    align-content: center;
}