<mat-drawer-container class="dashboard-container">
  <mat-drawer mode="side" opened>
    <app-sidebar-profile></app-sidebar-profile>
  </mat-drawer>

  <mat-drawer-content>
    <nav>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Listagem de Produtos">
          <router-outlet></router-outlet>
        </mat-tab>
        <mat-tab label="Gráfico de Vendas">
          <app-grafics></app-grafics>
        </mat-tab>
        <mat-tab label="Third">
          <a href="">Content 3</a>
        </mat-tab>
        <mat-tab label="Fourth">
          <a href="">Content 4</a>
        </mat-tab>
        <mat-tab label="Fifty">
          <a href="">Content 5</a>
        </mat-tab>
        <mat-tab label="Sixty">
          <a href="">Content 6</a>
        </mat-tab>
      </mat-tab-group>
    </nav>
  </mat-drawer-content>
</mat-drawer-container>
