<mat-drawer-container class="dashboard-container">
  <!-- <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
        <mat-drawer mode="side" opened>
          <mat-list role="list">
            <mat-list-item role="listitem"
              ><a href="">Editar Perfil</a></mat-list-item
            >
            <mat-list-item role="listitem"><a href="">Name</a></mat-list-item>
            <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
            <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
            <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
            <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
          </mat-list>
        </mat-drawer>
      </button>
      <span>My App</span>
    </mat-toolbar> -->

  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem"
        ><a href="">Editar Perfil</a></mat-list-item
      >
      <mat-list-item role="listitem"><a href="">Name</a></mat-list-item>
      <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
      <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
      <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
      <mat-list-item role="listitem"><a href="">Item 3</a></mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <nav>
      <mat-tab-group dynamicHeight>
        <mat-tab label="First">
          <app-table></app-table>
        </mat-tab>
        <mat-tab label="Second">
          <a href="">Content 2</a>
        </mat-tab>
        <mat-tab label="Third">
          <a href="">Content 3</a>
        </mat-tab>
        <mat-tab label="Fourth">
          <a href="">Content 4</a>
        </mat-tab>
        <mat-tab label="Fifty">
          <a href="">Content 5</a>
        </mat-tab>
        <mat-tab label="Sixty">
          <a href="">Content 6</a>
        </mat-tab>
      </mat-tab-group>
    </nav>
  </mat-drawer-content>
</mat-drawer-container>
