* {
    padding: 2vh;
}

// Classes from Angular Material
.material-symbols-outlined-close {
  cursor: pointer;
  display: flex;
  justify-content: left;
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-size: 24px;
  padding: 2vh;
}
