::ng-deep {
  .mat-paginator-container {
    justify-content: center;
  }

  .material-symbols-outlined {
    cursor: pointer;
  }

  ._mat-animation-noopable.mat-raised-button {
    width: 100%;
  }
}

// From Angular Material
table {
  width: 100%;
}

